---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

h1 {
    margin-top: $type-size-5;
}

// home page post item
.archive__item-title {
    margin-top: 0.1rem;
    font-family: $global-font-family;
    font-size: $type-size-5;
}  
.archive__item-title a {
    color: $secondary-color;
}
.archive__item-title a:hover {
    color:$primary-color;
}

.archive__item-excerpt{
    margin-bottom: 0.1rem;
}

// post paragraph
.page__content p, .page__content li{
    font-size: $type-size-5;
}

// toc
.toc__menu li{
    font-size: $type-size-5;
}