---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #373842;
$text-color: #373842;
$masthead-link-color: $link-color;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Define variables */
:root {
    --color-highlight: #424b54;
    --color-secondary: #A6B0CB;
}

h1 {
    margin-top: $type-size-5;
}

// home page post item
.archive__item-title {
    font-family: $global-font-family;
    font-size: $type-size-5;
}  
.archive__item-title a {
    color: $link-color;
}
.archive__item-title a:hover {
    color:#455d7a;
}

// post paragraph
.page__content p, .page__content li{
    font-size: $type-size-5;
}

// toc
.toc__menu li{
    font-size: $type-size-5;
}

/* Code block styling */
.language-plaintext {
    color: var(--color-highlight);
    background-color: inherit;
    font-weight: bold;
}